/* ---- variables ---- */

//fonts
$font-Lato-Light: 'Lato-Light';
$font-Lato-Regular: 'Lato-Regular';

$font-Firasanslight: 'Firasanslight';
$font-Firasansregular: 'Firasansregular';

$font-FiraMono-Regular: 'FiraMono-Regular';
$font-FiraMono-Medium: 'FiraMono-Medium';
$font-FiraMono-Bold: 'FiraMono-Bold';

$font-MontExtraLight: 'Mont-ExtraLight';
$font-MontHeavy: 'Mont-Heavy';


//colors

$text-color: #14171c;
$grey-text-color: #727a82;
$blue: #0053ff;

$black: #030303;
$white: #fff;

$grey: #999999;

$violet: #945693;


// arrows
$arrow-position: 21%;
$arrow-position-2: 2%;








//$blue: #1885fc;
//$green: #7cc62b;
$green: #3dcc38;
//$grey: #d3dbe4;
//$grey: #f2f3f9;
$grey-background: #f7f8fa;
$grey-true: #ddd;
//$text-color: #19233c;
//$text-color: #373737;
$error-color: #e96969;
$grey-text-color: #8c959f;

$bluegreen: #008872;
$light-indigo: #8856cb;
$tealish: #22b1bf;
$brownish-grey: #72605c;


// user colors
$user-brown: #ae6e03;
$user-green: #519800;
$user-red: #f61000;