header.header
  div.container--flex
    div.header-left
      a.logo(href="/")
        img(src="/img/logo.svg")
      div.nav
        a(href="#").nav-link Develope
        a(href="#").nav-link Marketplace
        a(href="#").nav-link Learn
        a(href="#").nav-link Contest
    div.header-right
      div.personal-account
        a(href="#") investor@gmail.com