#newAlgorithmModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='algorithmModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        .info CREATE NEW ALGORITHM
        div.content-title
          div.content-title__name
            input.content-title__name-change(type='text' placeholder='Add an algorithm name' autofocus='true')
        button.close(type='button' data-dismiss='modal' aria-label='Close')

      .modal-footer
        div.message-block.fail--back
          div.message Algorithm with this name already exists
            span.message-close
        button.button.button--blue.inactive(type='button') Get Started

#deleteBacktestModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        .oval !
        p.modal-title Delete 09/17/2018 backtest <br> of «Standard MACD Strategy» algorithm
        button.close(type='button' data-dismiss='modal' aria-label='Close')

      .modal-body
        .info THIS CANNOT BE UNDONE!
      .modal-footer
        button.button.button--red(type='button') Yes, Delete It
        button.button.button--trans-blue.noborder(type='button' data-dismiss='modal') Cancel