.button {

  outline: none;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;

  //display: flex;
  //justify-content: center;
  //align-items: center;

  display: inline-block;
  text-align: center;
  line-height: normal;
  text-decoration: none;

  @include font($font-SF-Pro-Text-Medium, 14px, #ffffff);
  font-weight: 500;

  box-shadow: none;
  text-shadow: none;
  opacity: 1;
  padding: 9px 41px;
  width: auto;

  &:hover{
    opacity: .85;
  }

  &--red{
    background-color: #bf3131;
    border-color: #bf3131;
  }
  &--blue{
    background-color: $blue;
    border-color: $blue;
  }
  &--trans-blue{
    background-color: white;
    color: $blue;
    border-color: $blue;
  }
  &--tealish{
    background-color: $tealish;
    border-color: $tealish;
  }

  &.noborder{
    border: none;
    padding: 9px;
  }

  &.inactive{
    opacity: .2;
    cursor: default;
  }
  &.active{
    opacity: 1;
  }
}