%contact-us{
  text-decoration: none;
  color: $blue;
  font-size: 24px;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px 0 80px;
  position: absolute;
  left: calc((100% - 210px)/2);
  &:after{
    content: '';
    display: inline-block;
    vertical-align: top;
    background: url("/img/contact-icon.png") center center no-repeat;
    width: 27px;
    height: 27px;
    margin-left: 12px;
  }
  &:hover{
    opacity: .7;
    cursor: pointer;
  }
}
.contact-us{
  @extend %contact-us;

  &-big{
    @extend %contact-us;
    font-size: 34px;
    left: calc((100% - 303px)/2);
  }
  &-white{
    @extend %contact-us;
    filter: brightness(0) invert(1);
    color: $white;
    &:after{
      background: url("/img/contact-icon-white.png") center center no-repeat;
    }
  }


}