.modal {
  &.fade{
    background-color: rgba(20,23,28,0.9);
  }
  &-content {
    height: 290px;
    //width: 400px;
    border-radiuss: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 14px 0 rgba(5, 41, 107, 0.09);
  }

  &-header {
    height: 164px;
    background: $background;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 30px 15px;
    border-color: $border-color;

    .oval {
      box-sizing: border-box;
      height: 46px;
      width: 46px;
      border: 2px solid $red;
      border-radius: 100%;
      color: $red;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 38px;
      font-family: $font-SF-Pro-Display-Thin;

    }


    .close{
      position: absolute;
      padding: 0;
      margin: 0;
      right: 10px;
      top: 10px;
      width: 16px;
      height: 16px;
      background: url(../../img/modal-close.png) no-repeat center center;
      outline: none;


    }
  }

  &-title{
    font-size: 20px;
    font-weight: 100;
    font-family: $font-SF-Pro-Display-Thin;
    padding-top: 15px;
    color: $red;
  }


  &-body{
    padding: 32px 30px 24px;
    text-align: center;

    .info{
      @extend %label;
      color: rgba(5,41,108,0.4)
    }
  }

  &-footer{
    justify-content: space-between;
    padding: 0 40px 19px;
    border-color: transparent;

    .button{
      width: 234px;
      padding: 9px 38px;
    }
  }
}


@media (min-width: 576px){
  .modal-dialog {
    max-width: 400px;
  }
}
