.scroll-v{
  padding-right: 0!important;
}

// ОБЩИЕ
.mCS-quantor{
  .mCSB_draggerRail{
    margin: 0;
    background: white;
  }

  .mCSB_dragger{

    margin: 0;
    &:hover .mCSB_dragger_bar,
    &:focus .mCSB_dragger_bar,
    &:active .mCSB_dragger_bar{
      background: rgba(47, 66, 104, 0.4);
    }
    &_onDrag{

      .mCSB_dragger_bar{
        background: rgba(47, 66, 104, 0.4);
      }
    }
  }
  .mCSB_dragger_bar{
    background: rgba(47, 66, 104, 0.3);
    &:hover,
    &:focus,
    &:active{
      background: rgba(47, 66, 104, 0.4);
    }
    width: 8px;
  }
}


// ГОРИЗОНТАЛЬНЫЙ
.mCS-quantor .mCSB_scrollTools_horizontal{
  .mCSB_draggerRail{
    height: 15px;
  }

  .mCSB_dragger_bar{
    height: 8px!important;
    margin: 4px auto!important;

  }

  .mCSB_scrollTools{
    background: white;
    opacity: 1!important;

  }
}

