.platform {
  padding-top: 9px;
  //.code{
  //  height: 500px;
  //  background: yellowgreen;
  //}
  .content-tabs-block {
    width: 100%;

    .tab-pane-wrapper {
      display: flex;
      justify-content: space-between;
    }
    .content{
      &-main{
        flex: 1;

        .content-block__head{
          height: 84px;
          border-bottom: 1px solid $border-color;
          z-index: 10;
        }

        .content-block__body{
          height: 436px;
          padding: 16px 23px;
          overflow-y: auto;

        }

        .select-block{
          width: 20%;

          &-wrapper{
            width: 100%;
            @include flex(space-between);

            &.inactive{
              > *{
                opacity: .2;
              }
            }
          }
        }
        .select-panel{
          //padding: 0 6px;
        }

        .upload{
          width: auto;
          a{
            display: flex;
            align-items: center;
          }
          a:before{
            @extend %before-after;
            content: '<>';
            font-size: 7px;
            color: white;
            padding-top: 3px;
            width: 12px;
            height: 16px;
            background: $blue;
            margin-right: 4px;
          }
          //display: flex;
          //flex-direction: row-reverse;
        }


        .info{
          margin-top: 16px;
          padding-left: 16px;
          font-size: 16px;
          font-family: $font-SF-Pro-Text-Regular;
          line-height: 1.81;
          letter-spacing: -0.1px;
          &-header{
            padding-top: 16px;
          }
        }
      }


      &-sidebar{
        .content-block__body{
          height: 227px;
          padding: 17px 24px 20px 16px;
          .info-block{
            margin-bottom: 24px;
            &:last-child{
              margin-bottom: 0;
            }
            p{
              line-height: 15px;
              padding-bottom: 10px;
              font-family: $font-Inconsolata-Regular;
            }
          }
        }
        .buttons-block{
          flex-direction: column;
          > *{
            flex:1;
            margin-left: 16px;
            margin-bottom: 16px;

          }

          .backtest-info{
            @extend %label;
            text-align: center;
            line-height: 1.4;
            letter-spacing: 0.8px;
            color: rgba(5, 41, 108, 0.4);
          }


        }
      }
    }
  }

  .buttons-block{
    @include flex(flex-end);
    padding-bottom: 16px;
    > *{
      margin-right: 16px;
    }
  }

  .backtest{
    line-height: 1.36;
    letter-spacing: -0.1px;
    text-align: right;
    color: rgba(20, 23, 28, 0.4);
    margin-right: 16px;
    font-family: $font-SF-Pro-Text-Regular;
    font-size: 14px;

    flex-direction: row;
    align-items: center;

    width: 166px!important;
    z-index: 12;

    &-title{
      margin-right: 8px;
      z-index: 11;
    }

    .select-panel{
      //height: auto;

      .jq-selectbox{
        &__select{
          //height: auto;
          border-color: transparent;
          padding: 0;
          padding-right: 25px;
          &-text{
            border-bottom: 2px dotted #3143bf;
            line-height: 1;
            padding-top: 10px;
            font-family: $font-SF-Pro-Text-Medium;
            color: $blue;
          }

        }

        &__dropdown{
          padding-left: 77px;
          margin-left: -77px;
          box-shadow: 0 12px 22px 0 rgba(5, 41, 107, 0.09);
          padding-right: 28px;
          padding-top: 45px;
          margin-top: -45px;
          z-index: -1;
        }
        ul{
          padding-left: 77px;
          margin-left: -77px;
        }

        &__trigger{
          line-height: 20px;
          &-arrow{
            background: url(../../img/arrow-down--blue.svg) no-repeat center center;
            width: 10px;
            height: 10px;
            margin-left: 8px;
            border: none;
            margin-top: -2px;

          }
        }

        li{
          padding: 12px 0 12px;
          padding-right: 26px;
          //margin-left: -69px!important;
          //padding-left: 0;
          //padding-right: 20px;
        }
      }


    }

    &-date{
      .date{
        border-bottom: 2px dotted $blue;
      }
      font-family: $font-SF-Pro-Text-Medium;
      color: $blue;

      line-height: 2;
      margin-left: 8px;
      position: relative;
      &:after{
        @extend %before-after;
        background: url(../../img/arrow-down--blue.svg) no-repeat center center;
        width: 10px;
        margin-left: 8px;
      }

    }
  }


  .tab-table{
    table{
      th, td {
        padding: 9px 15px;
      }
      th{
        color: #2f4268;
      }
      td{
        font-family: $font-SF-Pro-Text-Light;
      }
    }

    .content-info p{
      padding-top: 33px; padding-bottom: 28px
    }
  }

  .tab-table-block {
    .content-block__head {
      height: 45px!important;
      border-top: 1px solid #dadadb;
      border-bottom: none!important;
    }
    .content-block__body{
      height: 334px!important;
      padding: 0!important;
    }


    .zoom-btn{
      background: rgba(138,106,228,0.4);
      &.active{
        background: #8A6AE4;
      }
    }
  }
}