//quant pages

.quant{
  margin-right: 32px;

  .content{

    &-sidebar{
      width: 364px;
      margin-left: 0;
      margin-right: 16px;

      .content-block__body{
        padding: 0;

        .select-block{
          max-width: 212px;
        }

        .sidebar-block{
          padding: 24px;
        }
      }

    }
  }


  .graph{
    height: auto;
    padding: 0;
    //background: lavender;
    min-height: 246px;
  }


  .info{

    &-label{
      @extend %label;
      margin-bottom: 4px;
    }
    &-title{
      font-family: $font-SF-Pro-Display-Medium;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: normal;
      margin-bottom: 24px;

    }
    &-text{
      //font-family: $font-SF-Pro-Text-Regular;
      font-size: 16px;
      line-height: 1.63;
      letter-spacing: -0.1px;
    }

  }

  .content--empty{
    min-height: 452px;
    //overflow: hidden;
  }


  // course-tab
  #investTableContent{
    min-height: 452px;
  }
  .tab-wrapper{
   height: 452px;
    //overflow: hidden;
    //overflow-y: scroll;
  }

  .line{
    display: flex;
    height: 40px;
    margin-bottom: 16px;
    > *{
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
    }
    &--start{
      justify-content: flex-start;
      .button{
        margin-right: 15px;
      }
    }
    .button{
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 199px;
      height: 40px;
    }
    .save{
      width: 110px;
    }
    .cancel{
      width: 80px;
    }

  }


  .sertifacates{
    .left{
      display: flex;
    }
    .right{
      display: flex;
      align-items: center;
    }
    &-item{
      padding: 8px;
      display: flex;
      justify-content: space-between;
      &-menu{
        float: right;
        //font-size: 30px;
        //margin-top: -20px;
        position: relative;
        background: url(../../img/course-menu.svg) no-repeat center center;
        //font-size: 0;
        height: 5px;
        width: 23px;
        margin-right: 8px;
        padding: 10px 0;
        cursor: pointer;

        &__dropdown{
          padding: 14px 0;
          width: 92px;
          position: absolute;
          right: 0;
          top: 17px;
          box-shadow: 0 12px 24px 0 rgba(5, 41, 107, 0.09);
          background: white;
          z-index: 2;
          display: none;
          transition: .3s;

          a{
            text-align: right;
            display: block;
            padding: 10px 24px;
            font-size: 14px;
            font-family: $font-SF-Pro-Text-Medium;
            color: $text-color;
          }


          &.is-open{
            display: block;
            transition: .3s;
          }

        }

      }
    }
    .content-title{
      padding-top: 18px;
      padding-bottom: 6px;
      height: 42px;
    }
    .sub-title{
      padding-left: 16px;
    }
    .img{
      width: 71px;
      height: 81px;
      background: grey;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }

  .add-course{
    text-align: center;
  }
}