extends layout/main-layout

block body

  block header
    include includes/header

  block content
    section.section.screen-1
      include includes/quant-sidebar

      div.content.quant

        div.content-sidebar
          div.content-title Income
          div.content-block
            div.content-block__body.graph
              div график
          div.content-block
            div.content-block__body
              div.content-block__body-wrapper
                div.select-block
                  label.select-name CURRENCY
                  select.select-panel
                    option ETH
                    option ETH
                div.text--big ETH 1’500.32

              div.sidebar-block
                // кнопки могуть быть ссылками - тег а или кнопками - тег button
                button.button.button--blue Withdraw Funds

                
        div.content-main
          div.content-title
            p Info
          div.content-block
            div.content-block__body
              div.content-block__body-wrapper
                div.info
                  .info-label name
                  .info-title John Doe
                  .info-label about
                  .info-text Quantitative trader with broad experience in developing trading models for crypto markets. Focused on automated trading strategy development at varying time horizons.

          div.content-block.tab-table-block
            ul#quantTable.nav.nav-tabs.nav-tabs--bordered(role='tablist')
              li.nav-item
                a#courses-tab.nav-link.active(data-toggle='tab', href='#courses', role='tab', aria-controls='courses', aria-selected='true') Passed Courses
              li.nav-item
                a#education-tab.nav-link(data-toggle='tab', href='#education', role='tab', aria-controls='education', aria-selected='false') Education

            #investTableContent.tab-content
              #courses.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='courses-tab')
                .content--empty
                  div.content-info
                    p Add information about the courses you’ve passed
                    a(href="#").button.button--blue + Add Course

              #education.tab-pane.fade(role='tabpanel', aria-labelledby='education-tab')
                .content--empty



  block footer


  block modal


append scripts



  // анимация при прокрутке
  //script new WOW().init();
  //script(src = 'js/telegram-en.js')


